openai
pyrogram
tgcrypto
py-tgcalls
pyromod==1.1
yt-dlp
motor
dnspython
pykeyboard
prettytable
requests
rich
unidecode
attrify
pillow
html2text
httpx[http2]
youtube-search-python
aiofiles
aiohttp
python-arq
gpytranslate
gitpython
python-dotenv
gtts
wget
